body {
  /* display: flex; */
  margin: 0;
  padding: 0;
}

/* for error.html */
.error{ 
  margin:auto;
  text-align: center;
}

.container {
  /* margin: top;
  text-align: center; */
  padding: 5px;
  height: 800px;
  width:1000px;
  background-color: lightgreen;
  border: 5px solid black;
}

#nav {
  right:0px;
  top:0px;
  /* position:relative;
  float:right; */
  background-color: aquamarine;
  height:100%;
  padding:10px;
  width:15px;
}

.change{

}

li{
  list-style-type:none;
}

ul#tab-headings li{
  display:inline;
}

.header{
  font-size: 16pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:200px;
  border:2px solid grey;
}

#content{
  border:5px dashed goldenrod;
}

#debug{
  position:fixed;
  margin:auto;
  padding:20px;
  text-align:center;
  bottom:0px;
  width:100%;
  border:4px solid grey;
  float:center;
}

.parent{

}

.inline-block-child {
  display: inline-block;
}