@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


/* selectors and tags css files*/

/* setting some defaults */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:black; /*font colour for the page*/
}
